@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/*configuración GENERAL barra de navegación, se repite en toda la web*/

.menu {
    background: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
    z-index: 2;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
    transition: 0.7s;

}

.Active {
    background-color: #04AA6D;
}

.btn_menu {
    margin-right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

@media screen and (max-width: 930px) {

    .menu {
        height: 65px;
        background-color: #0a1a2a;
    }

    .btn_menu {
        display: inline-flex;
        padding: 17px 0 0 10px;
    }

    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        top: 100vh;
        text-align: center;
        transition: all .8s;
        display: flex;
        flex-direction: column;
        background-color: #0a1a2a;
    }

    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu_items li:hover {
        background: none;
    }

    .menu_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }

    .menu_intems li a:hover {
        color: #111;
    }

}


/*Configuración GENERAL de las particulas JS*/


#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/*Configuración GENERAL del FOOTER*/

.pie-pagina {
    width: 100%;
    background-color: #0a141d;
    z-index: 2;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 200px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/*----------COMINEZO INDEX----------*/

body {
    background-color: black;
}

.contenedor-titulo {
    color: #fff;
    display: flex;
    justify-content: center;

}

.contenedor-titulo .titulo {
    font-size: 50px;
}

.contenedor-titulo .caracteristica-sitio {

    font-weight: bold;
    color: #c99806;
    font-style: normal;

}

.Logo {
    display: flex;
    justify-content: right;

}


#contenedor_carousel {
    margin-top: 150px;
    margin-bottom: 100px;
}


.Boton_Index {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-right: 32%;
}

@media screen and (max-width: 930px) {

    .Logo {

        display: flex;
        justify-content: center;
        margin: 5%;

    }

    .Boton_Index {
        color: #1cc49d;
        display: flex;
        justify-content: center;
        margin-top: 13%;
        margin-right: 0%;
    }

    .contenedor-titulo {
        flex-direction: column;
        text-align: center;
    }

    #contenedor_carousel {
        width: auto;
    }

    #carouselExampleControls {
        width: auto;
    }
}


/*-------COMIENZO DE PESTAÑA "QUIEN SOY"-----*/


#Main__QuienSoy {
    color: #fff;
}

#parte_baja_textos {
    margin-bottom: 150px;
}


/*-------COMIENZO DE PESTAÑA "Servicios"-----*/

.video-servicio {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;

}

.Titulo__Trabajar {
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    margin: 3%;
    font-size: 4rem;
    display: flex;
    justify-content: left;

}

.Parrafo__Trabajar {
    font-family: 'Heebo', sans-serif;
    color: whitesmoke;
    font-size: 1.3rem;
    margin: 2%;
    width: 45%;

}

.Video {
    height: 0px;
    padding-bottom: 56.6%;
    position: relative;
    margin-bottom: 35px;
}

.Video iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.youtube_video {
    width: 50%;
}

.preguntas_trabajar {
    color: #fff;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 7rem;
    font-family: 'Bebas Neue', cursive;
}

#acordeon {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.accordion-body {
    background-image: radial-gradient(circle at 45.29% -3.89%, #905360 0, #87465a 16.67%, #7a3651 33.33%, #6a2246 50%, #590a3c 66.67%, #4b0036 83.33%, #3e0032 100%);
    color: #fff;
}


@media screen and (max-width: 930px) {

    .Titulo__Trabajar {
        color: whitesmoke;
        font-family: 'Bebas Neue', cursive;
        margin: 3%;
        font-size: 400%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .Parrafo__Trabajar {
        font-family: 'Heebo', sans-serif;
        color: whitesmoke;
        font-size: 120%;
        margin: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;

    }

    .youtube_video {
        width: 100%;
    }

}


/*------Comienzo de Pestaña Skills ------*/


#Main__Skills {

    color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 1600px;
}

.Titulo_Skills {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    padding-bottom: 3%;
    margin-top: 5rem;
}

#cards_skills div {
    margin: 30px;
}

.card {
    background-image: radial-gradient(circle at 50% -20.71%, #ff9bff 0, #d785ff 25%, #9c6cd8 50%, #6652ab 75%, #393c83 100%);
}

@media screen and (max-width: 930px) {

    #Main__Skills {
        height: 2900px;
        width: 100%;
    }

}

@media screen and (max-width: 280px) {

    #Main__Skills {
        height: 3200px;

    }

}


/*-----Comienzo Pestaña Contacto-----*/

.Body-Contacto {
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}

#formulario {
    width: auto;
    margin-bottom: 30px;
}

#formulario__color {
    background-image: radial-gradient(circle at 59.61% 23.59%, #bebd35 0, #acba37 8.33%, #97b63b 16.67%, #82b03f 25%, #6ca842 33.33%, #569d45 41.67%, #3e9146 50%, #248547 58.33%, #007a47 66.67%, #007048 75%, #00684a 83.33%, #00614c 91.67%, #005c4e 100%);
    border-radius: 10px;
}

#formulario__color div {
    width: 95%;
}

#formulario__color select {
    width: 90%;
}

#formulario__color button {
    background-color: #ca5907;
    border-color: #fff;
    font-size: 1.2rem;
}

@media screen and (max-width: 930px) {

    #formulario__color {
        width: 85%;
    }

    #formulario__color div {
        width: 85%;
    }

    #formulario__color select {
        width: 70%;
    }

}